<div class="shop-title">
  <h4><%=@shop.name%></h4>
</div>

<div class=container>
  <div class="row">
    <div class="col-sm-12">

        <div class="big-shop-card pos-rel">

          <div class="big-shop-card-header">
            <p><%=@shop.nb_box%> left</p>
            <p>7.30pm - 8.30pm</p>
            <div class="shop-card-logo-avatar">
            </div>
            <div class="shop-card-title">
            </div>
          </div>

          <div class="big-shop-card-footer navbar-fixed-bottom">
            <div class="big-shop-card-price">
              <div class="ex-price-card">
                <p>$<%= @shop.ex_price%></p>
              </div>
              <p>$<%= @shop.price%></p>
            </div>
          </div>
        <div>
          <%= link_to new_shop_cart_path(@shop.id) do %>
            <div class="btn btn-action btn-add-cart" style="margin-top:60%; margin-right:0px; margin-left:40%;">
                 +
            </div>
          <% end %>
        </div>
        </div>
    </div>

    <div class="description-container">
      <p>Come and get your deal among a selection from this <%= @shop.description %>: pastries, smoothies, sandwiches... depending on what was left at the end of the day.</p>
      <p>Don't forget to bring your bag to reduce the use of disposable plastics.</p>
      <p>Thank you for your contribution to the fight against food waste !</p>
      <p style="height: 30px"></p>
    </div>

    <div class="direction-container">
      <p><%= @shop.location %></p>
    </div>

  </div>
</div>
