<div class="container">
  <div class="row">
    <div class="col-sm-12">

        <div class="cart-container">
            <div class="big-shop-card-header">
                <div class="shop-card-logo-avatar" id="cart-avatar">
                </div>
                <div class="cart-shop-title">
                  <h4><%= @order.cart.shop.name%></h4>
                </div>
            </div>

            <div class="big-shop-card" id="big-shop-cart">
            </div>

            <div class="order-title">
              <h3>I HAVE PICKED UP THE ORDER</h3>
            </div>

            <div class="cart-info-container">
              <div class="cart-info">
                <p>Pick-up time</p>
              </div>
              <div class="cart-info">
                <p>Availabilities</p>
                <%= @order.cart.shop.nb_box %></div>
              <div class="cart-info">
                <p>Directions</p>
                <%= @order.cart.shop.location%></div>
            </div>

            <div class="cart-line"></div>

            <div class="cart-total">
            </div>

            <div class="col-sm-12">
                <div class="add-cart">
                  <%= simple_form_for([@shop, @cart, @order]) do |f|%>
                    <%= f.input :code_validated, as: :boolean, checked_value: true, unchecked_value: false %>
                    <%= f.submit "CONFIRM", class:"btn btn-action btn-duck-blue btn-medium border-rad" %>
                  <% end %>
                </div>
            </div>

    </div>
  </div>
</div>
