<div class="container">
  <div class="row">
    <div class="col-sm-12">

        <div class="cart-container">
            <div class="big-shop-card-header">
                <div class="shop-card-logo-avatar" id="cart-avatar">
                </div>
                <div class="cart-shop-title">
                  <h4><%= @shop.name%></h4>
                </div>
            </div>

            <div class="big-shop-card" id="big-shop-cart">
            </div>

            <div class="order-title">
              <h3 style="margin-top:10px;">ORDER</h3>
            </div>

            <div class="cart-info-container">
              <div class="cart-info">
                <p id=titles-info>Pick-up time</p>
                <p>Today 7:30pm - 8:30pm</p>
              </div>
              <div class="cart-info">
                <p id=titles-info>Availabilities</p>
                <%= @shop.nb_box %></div>
              <div class="cart-info">
                <p id=titles-info>Directions</p>
                <%=  @shop.location%></div>
                <div class="cart-info">
                  <p> To save your deal, pre-order it by clicking on "Save order" and go to <%= @shop.name %> at the specified time.</p>
                </div>
            </div>

            <div class="cart-total">
            </div>

            <div class="col-sm-12">
                  <%= simple_form_for [@shop, @cart] do |f|%>
                    <%= f.submit "SAVE ORDER", class:"btn btn-action btn-duck-blue btn-medium border-rad",style:"margin-top:20%;", id:"btn-save-order" %>
                  <% end %>
            </div>

    </div>
  </div>
</div>
